<header class="header">
  <h1 class="header-title mat-headline" (click)="switchToDashboard()">
    My Trello <mat-icon class="header-title-icon">favorite</mat-icon>
  </h1>
  <ng-container *ngIf="user$ | async as user">
    <div class="user">
      <img class="user-image" src="{{ user.profilePhoto }}" alt="user photo" />

      <button mat-button class="user-name mat-body-1" [matMenuTriggerFor]="userMenu">
        {{ user.username }}
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item class="button-logout mat-body-2" (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </ng-container>
</header>
