@import "mixins";
@import "variables";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 540px;
    padding: 35px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $neutral;
    border-radius: 25px;
    box-shadow: 0 6px 17px rgb(0 0 0 / 25%);
  }
}

.form {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-field {
    margin-top: 13px;
  }
}

.wrapper-menu-button {
  display: flex;
  justify-content: center;
}

.active {
  color: $basic;
  background-color: $primary;
}

.menu-button {
  &-in {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-up {
    margin-left: -4px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.login-title {
  margin-bottom: 20px;
  text-align: center;

  &-icon {
    color: $warn;
  }
}

.login-sub-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.error-nowrap {
  white-space: nowrap;
}

.button-login {
  text-transform: uppercase;
  color: $basic;
  background-color: $primary;
  margin-top: 25px;
}
