rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow create, update, delete, read, list;
    }

    match /mainBoards/{boardId} {
      allow create, update, delete, read, list;
    }

    match /lists/{listId} {
      allow create, update, delete, read, list;
    }

    match /task/{taskId} {
      allow create, update, delete, read, list;
    }
  }
}
