@import "_mixins";
@import "_variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-delete {
  align-self: flex-end;
}

.main-board-title {
  margin: 10px 0 20px 0;
}

.main-board-actions {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

.main-board-input {
  margin: 5px 0;
}

.main-board-link {
  align-self: flex-end;
}
