@import "src/styles/mixins/mixins";
@import "src/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-delete {
  align-self: flex-end;
  color: $color-basic;
}

.main-board-title {
  margin: 10px 0 20px 0;
}

.main-board-actions {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

.main-board-input {
  color: $color-basic;
  background-color: $color-primary;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-basic;
  margin: 5px 0;
}

.button-cancel {
  text-transform: uppercase;
}

.main-board-link {
  align-self: flex-end;
  color: $color-basic;
  text-decoration: none;
  text-transform: uppercase;
}
