@import "mixins";
@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-delete {
  align-self: flex-end;
}

.list-actions {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

.list-field .list-field-title {
  color: $color-basic;
}

.mat-input-element {
  caret-color: $color-basic;
}

.list-content {
  margin-bottom: 0;
}
