<button mat-icon-button class="button-delete" (click)="deleteListDumb(listId)">
  <mat-icon>delete_outline</mat-icon>
</button>

<mat-card-title *ngIf="!isTitleEditMode; else editTitle">
  <h4 class="mt-10 mb-20" (click)="toggleTitleEditMode()">{{ listTitle }}</h4>
</mat-card-title>

<ng-template #editTitle>
  <mat-form-field class="list-field">
    <mat-label class="list-field-title">Title</mat-label>
    <input
      #inputTitle
      matInput
      placeholder="title"
      [value]="listTitle"
      (keyup.enter)="sendEditableListTitle(listId, inputTitle.value)"
    />
  </mat-form-field>
</ng-template>

<mat-card-content class="list-content">
  <p></p>
</mat-card-content>

<mat-card-actions class="list-actions">
  <button
    class="button-primary"
    mat-button
    [ngStyle]="{ display: isTitleEditMode ? 'block' : 'none' }"
    (click)="cancelListEdit()"
  >
    cancel
  </button>
</mat-card-actions>
