@import "_mixins";
@import "_variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-delete {
  align-self: flex-end;
}

.list-title {
  margin: 10px 20px 0;
}

.list-actions {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

.list-input {
  margin: 5px 0;
}
