@import "mixins";
@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-delete {
  align-self: flex-end;
  color: $color-basic;
}

.list-title {
  margin: 10px 0 20px 0;
}

.list-actions {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

.list-input {
  color: $color-basic;
  background-color: $color-primary;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-basic;
  margin: 5px 0;
}

.button-cancel,
.button-add {
  text-transform: uppercase;
}
