<app-header></app-header>

<main class="main-dashboard">
  <div class="main-dashboard-wrapper">
    <div class="drag-wrapper">
      <mat-card *ngFor="let board of boards$ | async" class="main-board">
        <app-main-boards
          [boardId]="board.id"
          [boardTitle]="board.title"
          [boardDescription]="board.description"
          (deleteBoard)="deleteBoard($event)"
          (saveEditableBoardTitle)="saveEditableBoardTitle($event)"
          (saveEditableBoardDescription)="saveEditableBoardDescription($event)"
        ></app-main-boards>
      </mat-card>

      <mat-card class="main-board-form" [formGroup]="mainBoardsForm">
        <mat-card-title>
          <mat-form-field>
            <input matInput formControlName="title" placeholder="title" />
            <mat-error></mat-error>
          </mat-form-field>
        </mat-card-title>

        <mat-card-content>
          <mat-form-field>
            <input matInput formControlName="description" placeholder="description" />
            <mat-error></mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions class="main-board-form-actions">
          <button mat-button [disabled]="!mainBoardsForm.valid" (click)="createNewBoard()">
            add
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
