@import "mixins";
@import "variables";

.main-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.drag-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-board {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 20px 15px;
  color: $basic;
  background-color: $primary;

  &-title {
    margin: 10px 0 20px 0;
  }

  &-actions {
    align-self: flex-end;
  }

  &-edit {
    background-color: $basic;
    color: $primary;
  }

  &-input {
    color: $basic;
    background-color: $primary;
    outline: none;
    border: none;
    border-bottom: 1px solid $basic;
    margin: 5px 0;
  }
}

.main-board-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 20px 15px;
  background-color: $basic;

  &-actions {
    color: $primary;
    align-self: flex-end;
  }
}

.button-cancel {
  color: $basic;
  align-self: flex-end;
}
