/* You can add global styles to this file, and also import other style files */
@import "styles/mixins/_mixins";
@import "styles/_variables";
@import "styles/_typography";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
