@each $value in 0, 5, 10, 15, 20, 25 {
  .mt-#{$value} {
    margin-top: #{$value}px !important;
  }
  .mb-#{$value} {
    margin-bottom: #{$value}px !important;
  }
  .ml-#{$value} {
    margin-left: #{$value}px;
  }
  .mr-#{$value} {
    margin-right: #{$value}px;
  }
  .mx-#{$value} {
    margin-left: #{$value}px;
    margin-right: #{$value}px;
  }
  .my-#{$value} {
    margin-top: #{$value}px;
    margin-bottom: #{$value}px;
  }
  .pr-#{$value} {
    padding-right: #{$value}px;
  }
  .pl-#{$value} {
    padding-left: #{$value}px;
  }
}
