@import "variables";

:host {
  display: flex;
  flex-direction: column;
}

.button-cancel {
  color: $color-basic;
  align-self: flex-end;
}

.main-board-title {
  margin: 10px 0 20px 0;
}

.main-board-actions {
  display: flex;
  align-self: flex-end;
}

.main-board-edit {
  background-color: $color-basic;
  color: $color-primary;
}

.main-board-input {
  color: $color-basic;
  background-color: $color-primary;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-basic;
  margin: 5px 0;
}
