<button
  mat-icon-button
  id="deleteButton"
  class="button-delete"
  (click)="getDeletedBoardID(boardId)"
>
  <mat-icon>delete_outline</mat-icon>
</button>

<mat-card-title *ngIf="!isTitleEditMode; else editTitle">
  <h4 class="main-board-title" (click)="toggleTitleEditMode()">{{ boardTitle }}</h4>
</mat-card-title>

<ng-template #editTitle>
  <input
    #inputTitle
    class="main-board-input"
    placeholder="title"
    [value]="boardTitle"
    (keyup.enter)="sendEditableBoardTitle(boardId, inputTitle.value)"
  />
</ng-template>

<mat-card-content class="main-board-content" *ngIf="!isDescriptionEditMode; else editDescription">
  <p (click)="toggleDescriptionEditMode()">{{ boardDescription }}</p>
</mat-card-content>

<ng-template #editDescription>
  <input
    #inputDescription
    class="main-board-input"
    placeholder="description"
    [value]="boardDescription"
    (keyup.enter)="sendEditableBoardDescription(boardId, inputDescription.value)"
  />
</ng-template>

<mat-card-actions class="main-board-actions">
  <button
    class="button-cancel"
    mat-button
    [ngStyle]="{ display: isTitleEditMode || isDescriptionEditMode ? 'block' : 'none' }"
    (click)="cancelBoardEdit()"
  >
    cancel
  </button>

  <button
    mat-button
    class="main-board-link"
    [ngStyle]="{ display: isTitleEditMode || isDescriptionEditMode ? 'none' : 'block' }"
    (click)="getReferredBoardId(boardId)"
  >
    To board
  </button>
</mat-card-actions>
